<h2> {{ (hero.id) ? 'Update' : 'Add New' }} Hero</h2>

<div
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutGap="40px">
  <div fxFlex="50" fxLayout="column">
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="20px">
      <mat-form-field fxFlex="100" >
        <mat-label>Superhero</mat-label>
        <input matInput
          type="text"
          [(ngModel)]="hero.superhero"
          required />
      </mat-form-field>
      <mat-form-field fxFlex="100" >
        <mat-label>Alter ego</mat-label>
        <input matInput
          type="text"
          [(ngModel)]="hero.alter_ego"
          required/>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>First appearance</mat-label>
      <input matInput
        type="text"
        [(ngModel)]="hero.first_appearance"
        required/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Characters</mat-label>
      <input matInput
        type="text"
        [(ngModel)]="hero.characters"
        required/>
    </mat-form-field>
    <mat-form-field>
      <mat-label></mat-label>
      <mat-select [(ngModel)]="hero.publisher">
        <mat-option *ngFor="let publisher of publishers"
          [value]="publisher.id"
          required >
          {{ publisher.desc }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Photo Url</mat-label>
      <input matInput
        type="url"
        [(ngModel)]="hero.alt_img"
        required/>
    </mat-form-field>

    <footer >
      <button mat-raised-button
        color="primary"
        fxFlex="100"
        class="mx-2"
        (click)="createHero()">
        <mat-icon>save</mat-icon>
        Save
      </button>
      <span class="spacer"></span>
      <button mat-raised-button
        color="warn"
        fxFlex="100"
        class="mx-2"
        (click)="deleteHero()">
        <mat-icon>remove</mat-icon>
        Delete
      </button>
    </footer>
  </div>
  <div fxFlex="50">
    <img [src]="hero | imagehero " [alt]="hero.superhero">
  </div>
</div>
