<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-toolbar>
      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button
        (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a routerLink="./all"
        mat-list-item
        (click)="sidenav.toggle()">
        <div class="center">
          <mat-icon mat-list-icon class="mx-2">label</mat-icon>
          <span class="mx-2">Heroes</span>
        </div>
      </a>
      <a routerLink="./add"
        mat-list-item
        (click)="sidenav.toggle()">
        <div class="center">
          <mat-icon mat-list-icon class="mx-2">add</mat-icon>
          <span class="mx-2">Add New Heroe</span>
        </div>
      </a>
      <a routerLink="./search"
        mat-list-item
        (click)="sidenav.toggle()">
        <div class="center">
          <mat-icon mat-list-icon class="mx-2">search</mat-icon>
          <span class="mx-2">Search Heroe</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button
      (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span>{{ userActive.name }}</span>
    <button mat-button
      (click)="logout()">
      Logout
    </button>
  </mat-toolbar>

  <div class="home-container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
