/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center {
  display: flex;
  align-items: center;
  justify-content: left;
}

.mx-2 {
  margin-left:  0.5rem;
  margin-right: 0.5rem;
}

.my-4 {
  margin-top:  1rem;
  margin-bottom: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.fw-2 {
  font-weight: bolder;
}

.container-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
